* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
h1 {
  text-align: center;
  font-family: Menlo;
  padding-bottom: 1rem;
  color: green;
}
h2,
h3 {
  font-family: Menlo;
  padding-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result {
  padding-top: 1rem;
}
table td {
  border: 1px solid gray;
  width: 100px;
  height: 100px;
}

td {
  text-align: center;
  vertical-align: middle;
}

.cellX {
  color: brown;
  font-weight: 900;
  font-size: 2rem;
}
.cellO {
  color: deepskyblue;
  font-weight: 900;
  font-size: 2rem;
}
.success-button {
  border: none;
  padding: 10px 10px;
  text-transform: uppercase;
  background: paleturquoise;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

td.disabled {
  opacity: 0.2;
}

button {
  margin: 0 auto;
  display: block;
}
.success {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 350px;
}

.success-notification {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
